h1 {
	color:#8a2be2;
	}
body
{
background:#ef0e68; 
}

body {
    background-image: url("http://umad.com/img/2016/8/animated-bubbles-gif-20111-20685-hd-wallpapers.jpg");
}
p.dotted border-style: dotted;}